extends layout/main

block content
    .container
        .row
            .box
                .block1
                .block2
                    h1 Частный приют для домашних животных
                    p К нам попадают те, от кого отказались, кого предали, кто просто в один минг перестал быть нужным. Иногда для спасения достаточно совсем немного, стоит увидеть чьи-то обречённые глаза и сделать порой совсем немного, чтобы вернуть им веру в людей.
                .block3
                    img(src="Group.png" width="100%")
                //- .block5
                //-     .podb1
                //-     .podb2
                //-     .podb3
                //-         .p3
                //-             h2 Взять питомца
                //-             p Вы ищете себе компаньона? Посмотрите наших живоных. Каждый питомец готов стать вашим другом!
                //-             div
                //-                 button Найти питомца
            
